.fipopup{
	background-color: rgb(88, 195, 229);
    background: -webkit-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* Standard syntax */
    opacity: 0.95;
    color: #EEEEEE;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    border-radius: 16px;
    border: solid 2px rgb(7, 133, 171);

    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: small !important;

    max-width: 400px;
}

.titlePanel {
	height: 32px;
	text-align:right;
}

.titleLabel {
	padding:5px;
	font-size: medium;
	border-bottom: 1px solid grey;
}

.fipopup select{
	background-color: transparent;
    color: white;
    border: solid 1px white;
    height: 1.5em;
    width: 100%;
    margin: 5px 0;
    outline: none;
    font-size: small !important;
}

.fipopup select:hover{
	color: #ccc;
}

.fipopup select:disabled{
	background-color: transparent;
    color: gray;
    border: solid 1px gray;
    height: 1.5em;
    width: 100%;
    margin-top: 4px;
    outline: none;
    font-size: medium !important;
}

.fipopup select option{
	color:black;
}

.layoutLabel{
	display: block;
    color: rgb(0, 90, 117);
}

.button {
	background-color: Transparent;
	font-size: small;
	outline: none;
	border: 1px solid grey;
	border-radius: 16px;
	width: 90%;
 	color: white;
 	margin: 5px;
}

.button:hover {
	color: #ccc;
}

.button:hover:active{
	color: black;
}

.layoutPanel {
	margin:0 5px;
	display: block;
	border-bottom: 1px solid grey;
}

.settings {
	float: left;
    background-color: #58C3E5;
    border: none;
    outline: none;
    border-radius: 16px;
    padding: 0;
    border: 0;
}

.settings>div {
    margin: 0;
    position: relative;
}

.settings span {
    display: none;
}

.settings img {
    display: block;
    height: 32px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.settings:hover {
    background-color: #1E95CF;
    cursor: pointer !important;
}

.settings:active:hover {
    background-color: #066B9E;
    cursor: pointer !important;
}

.settings:disabled, .settings:disabled:hover, .settings:disabled:active{
    background-color: #9a9c9e;
    cursor: default !important;
}