.cytoscape {
    float: left;
    background-color: #58C3E5;
    border: none;
    outline: none;
    border-radius: 16px;
    color: white;
    margin: 0 0 0 10px;
    padding: 0;
    border: 0;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.cytoscape>div {
    margin: 0;
    position: relative;
}

.cytoscape span {
    display: none;
}

.cytoscape img {
    display: block;
    height: 32px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.cytoscape:hover {
    background-color: #1E95CF;
    cursor: pointer !important;
}

.cytoscape:active:hover {
    background-color: #066B9E;
    cursor: pointer !important;
}

.cytoscape:disabled, .cytoscape:disabled:hover, .cytoscape:disabled:active{
    background-color: #9a9c9e;
    cursor: default !important;
}

.settings {
    float: left;
    background-color: #58C3E5;
    border: none;
    outline: none;
    border-radius: 16px;
    color: white;
    margin: 0 0 0 10px;
    padding: 0;
    border: 0;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.settings>div {
    margin: 0;
    position: relative;
}

.settings span {
    display: none;
}

.settings img {
    display: block;
    height: 32px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.settings:hover {
    background-color: #1E95CF;
    cursor: pointer !important;
}

.settings:active:hover {
    background-color: #066B9E;
    cursor: pointer !important;
}

.settings:disabled, .settings:disabled:hover, .settings:disabled:active{
    background-color: #9a9c9e;
    cursor: default !important;
}

.diagram {
    float: left;
    background-color: #58C3E5;
    border: none;
    outline: none;
    border-radius: 16px;
    color: white;
    margin: 0 0 0 10px;
    padding: 0;
    border: 0;

    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.diagram>div {
    margin: 0;
    position: relative;
}

.diagram span {
    display: none;
}

.diagram img {
    display: block;
    height: 32px;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.diagram:hover {
    background-color: #1E95CF;
    cursor: pointer !important;
}

.diagram:active:hover {
    background-color: #066B9E;
    cursor: pointer !important;
}

.diagram:disabled, .diagram:disabled:hover, .diagram:disabled:active{
    background-color: #9a9c9e;
    cursor: default !important;
}
