.popupPanel{
	position: relative;
    border: 3px solid gray !important;
    border-radius: 15px;
    padding: 2px;
    background-color: rgb(30,148,208)!important;
    z-index:4000;
}

@sprite .close{
    gwt-image: 'closeNormal';
    outline: none;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
}

@sprite .close:hover {
    gwt-image: 'closeHovered';
}

@sprite .close:active:hover {
    gwt-image: 'closeClicked' ;
}

.header{
    padding: 2px 0 2px 0;
    width: 100%;
}

.unselectable {
	-webkit-touch-callout: none; /* Prevents selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mainPanel {
	margin: 5px;
	padding: 5px;
}

.outerPanel {
	postition:relative;
}

.optionsLabel {
	color: white;
}

.checkBox {
	color: white;
	font-size: small;
	display: block;
}

.exportButton{
	position: absolute;
    right:    0;
    bottom:   0;
	
	margin: 5px;
	
	background: #58c3e5;
    color: white;
    border-radius: 16px;
    border: 1px solid #066b9e;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 5px;
    outline: none;
}

.exportButton:hover {
	background: #066b9e;
    border: 1px solid #1e95cf;
}

.exportButton:active:hover{
	color: #066b9e;
    background: white;
    border: 2px solid #066b9e;
}