@sprite .minimize{
	gwt-image: 'minimizeNormal';
	outline: none;
	background-repeat: no-repeat;
	border: none;
	border-radius: 16px;
	cursor: pointer;
	margin-right: 5px;
	position: absolute;
	top: 5px;
	right: 25px;
}

@sprite .minimize:hover {
	gwt-image: 'minimizeHovered';
}

@sprite .minimize:active:hover{
	gwt-image: 'minimizeClicked';
}