.nodePopup{
    background-color: rgb(88, 195, 229);
    background: -webkit-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(135deg, rgb(88, 195, 229), rgb(30, 148, 208)); /* Standard syntax */
    opacity: 0.95;
    color: #EEEEEE;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 0 rgba(50, 50, 50, 0.75); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    padding: 5px;
    border-radius: 10px;
    border: solid 2px rgb(7, 133, 171);

    font-family: Arial Unicode MS, Arial, sans-serif !important;
    font-size: small !important;

    max-width: 380px;
}

.mainPanel{
    border-top: 1px solid rgb(7, 133, 171);
}

.label{
    color: white;
}

.linkAnchor {
    color: white;
}

.header {
    margin: 0 0 2px 4px;
}
.header:hover{
    cursor: move !important;
}

.header:active:hover{
    cursor: move !important;
}

.header button {
    float: right;
}

.header span {
    float: left;
    color: rgb(0, 90, 117);
    font-weight: bolder;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 242px;
}

.header img {
    float: left;
    margin: 0 5px 0 2px;
}

.removeButton{
    background-color: #1e95cf;
    border: 1px solid #037cb3;
    outline: none;
    color: white;
}