.panel{
	background-color: #58c3e5;
    border: 1px solid #0e7cd3;
    border-radius: 5px;
    margin: 5px;
}

.header{
	height: 30px;
	border-bottom: 1px solid #0e7cd3;
	border-radius: 5px;
}

.header span {
	margin: 10px 5px;
	color: white;
	font-weight: bold;
}

.main {
	height: 230px;
}

.container{
	padding: 5px;
	width: 48%;
	height: 160px;
	float: left;
}

.sourcesSelectBox{
	border: 1px solid #0e7cd3;
	border-radius: 5px;
	outline: none;
	width:100%;
}

.colorPickerTextBox{
	width: 100%;
	border: 1px solid #0e7cd3;
	border-radius: 5px;
	height: 19px;
}

.bottomContainer{
	height: 55px;
	border: 1px solid #0e7cd3;
	border-radius: 5px;
	margin: 0 5px 0 5px;
	padding: 0 5px 0 5px;
}