.colourMapPanel{
	margin: 5px 5px 5px 5px;
	height: 280px;
}
.outerPanel{
	width: 50px;
    top: 25px;     /*centers in the middle*/
    overflow: visible !important;
    float: left;
    margin-right: 10px;
}
