.innerPanel{
	margin: 5px;
}

@sprite .forward{
    gwt-image:'forwardNormal';
    outline:none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    float:left;
    margin:5px 0 0 2px;
}

@sprite .forward:hover{
    gwt-image: 'forwardHovered';
}

@sprite .forward:disabled, .forward:disabled:hover, .forward:disabled:active {
    gwt-image:'forwardDisabled';
    cursor: auto;
}

@sprite .forward:enabled:active:hover {
    margin-left: 3px;
    margin-right: 1px;
    gwt-image: 'forwardClicked';
}

@sprite .play {
    gwt-image:'playNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    float: left;
    margin:5px 0 0 2px;
}

@sprite .play:hover {
    gwt-image:'playHovered';
}

@sprite .play:enabled:active:hover {
    margin-left: 3px;
    margin-right: 1px;
    gwt-image: 'playClicked';
}

@sprite .pause {
    gwt-image:'pauseNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    float: left;
    margin:5px 0 0 2px;
}

@sprite .pause:hover {
    gwt-image:'pauseHovered';
}

@sprite .pause:enabled:active:hover {
    margin-left: 3px;
    margin-right: 1px;
    gwt-image: 'pauseClicked';
}

@sprite .back{
    gwt-image: 'backNormal';
    outline: none;
    background-repeat:no-repeat;
    border: 0;
    cursor: pointer;
    float: left;
    margin:5px 0 0 2px;
}

@sprite .back:hover{
    gwt-image: 'backHovered';
}

@sprite .back:disabled, .back:disabled:hover, .back:disabled:active {
    gwt-image: 'backDisabled';
    cursor: auto;
}

@sprite .back:enabled:active:hover {
    margin-left:3px;
    margin-right:1px;
    gwt-image: 'backClicked'
}